<div class="container body-content">
    <div class="row">
        <div class="jumbotron">
            <h1>Добре дошли в Bri4ka.com</h1>
            <p>Тук можете да споделите своята бричка, да напишете няколко думи за нея или да разкажете някоя история заедно с вашето трошляче.Не се срамувайте и споделяйте :)</p>
            <p><a href="/home/all_categories" class="btn btn-primary btn-lg">Към бричките</a></p>
        </div>
    </div>

</div>

